<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>932005895280-rasd0l1o0gsuh3bj5nmu5k2d21bpoocc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932005895280-rasd0l1o0gsuh3bj5nmu5k2d21bpoocc</string>
	<key>API_KEY</key>
	<string>AIzaSyDyC-g9KEqQKz6zLwUaUXCNOn8mEsZpmjc</string>
	<key>GCM_SENDER_ID</key>
	<string>932005895280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.korea.----------------Sample</string>
	<key>PROJECT_ID</key>
	<string>bewithme-7c80b</string>
	<key>STORAGE_BUCKET</key>
	<string>bewithme-7c80b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:932005895280:ios:6faa85ccb4816c20</string>
	<key>DATABASE_URL</key>
	<string>https://bewithme-7c80b.firebaseio.com</string>
</dict>
</plist>